<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
        <div class="f-info-brand"> &copy; Ghuumo Private Limited</div>
        <div class="f-info-links">
    <span style="color: #777;">Privacy</span>
    <span class="mx-2">•</span> 
    <span style="color: #777;">Terms</span>
</div>
    </div>
</footer>